@model IEnumerable<MemeMarketeerApp.Models.Expense>

@{
    ViewData["Title"] = "Expense";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>


        /*.table tr th:last-child {
            width: 100px;
        }*/

        .table tr th {
            text-align: center;
        }

        .table tr td {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Expense</h3>
                </div>
                <div class="col text-right">
                    <a asp-action="Create" asp-route-fromHome="0" class="btn btn-create">New</a>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class=" table-responsive">

                <table class="table align-items-center table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>

                            <th>
                                Campaign/Reason
                            </th>
                            <th>
                                Details
                            </th>

                            <th>
                                Amount
                            </th>


                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.CampaignId == null)
                                {
                                    <td>
                                        Company Cost
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @item.Campaign.Title
                                    </td>
                                }


                                <td>
                                    @item.Details
                                </td>


                                   <td>
                                    @item.Amount
                                </td>



                                <td class="text-center">
                                    <div class="btn-group">

                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" >Delete</a>


                                    </div>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
